[Unit]
Description=Network Box Thermostat
After=network-online.target
 
[Service]
Environment=PYTHONPATH=/home/pi/.local/share/virtualenvs/cabinet_fan-0.0.1-Ym2HW4xX
ExecStart=/home/pi/.local/share/virtualenvs/cabinet_fan-0.0.1-Ym2HW4xX/bin/python /home/pi/workspace/cabinet_fan-0.0.1/main.py
WorkingDirectory=/home/pi/workspace/cabinet_fan-0.0.1/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
 
[Install]
WantedBy=multi-user.target
