[Unit]
Description=Network Box Thermostat
After=network-online.target

[Service]
ExecStart=/usr/local/bin/python3.8 /home/pi/apps/cabinet_fan-0.0.3/main.py
WorkingDirectory=/home/pi/apps/cabinet_fan-0.0.3/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
